.about {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0rem 1.5rem; }
  .about .description h2 {
    font-size: 3rem;
    font-weight: 500; }
  .about .description p {
    font-size: 2rem;
    line-height: 3rem; }
  .about .skills {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); }
    .about .skills li {
      font-size: 8rem;
      text-align: center; }

@media only screen and (max-width: 1100px) {
  .about {
    grid-template-columns: 1fr; }
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)) !important; }
    .skills li {
      font-size: 6rem !important; } }

@media only screen and (max-width: 850px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)) !important; }
    .skills li {
      font-size: 4rem !important; } }

@media only screen and (max-width: 650px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important; }
    .skills li {
      font-size: 3rem !important; }
  .description p {
    font-size: 1.2rem !important;
    line-height: 2rem !important; } }

@media only screen and (max-width: 445px) {
  .description h2 {
    font-size: 2rem; } }
