.contact {
  background-color: #f8f9fa;
  width: 100%;
  padding: 2rem;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
    padding: 2rem;
    background-color: transparent;

    label {
      font-size: 2rem;
      background-color: transparent;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem 2rem;
      outline: none;
      border: none;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
    }
    textarea {
      height: 15rem;
      max-height: 15rem;
    }
    input[type="submit"] {
      width: 100%;
      max-width: 20rem;
      align-self: self-start;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 3.2rem;
    text-align: center;
    background-color: transparent;
  }
}
